<!-- Scroll back to top button -->
<button class="back-to-top" type="button"></button>

<span>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}
<br>
Powered by <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> using the <a href="https://mademistakes.com/work/hpstr-jekyll-theme/" rel="nofollow">HPSTR Theme</a>
</span>