<div class="social-share">
  <ul class="socialcount socialcount-small inline-list">
    <li class="linkedin"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title=Crypto%20n%20Card%20Utils&summary=Crypto%20n%20Card%20Utils%20-%20A%20combination%20of%20multiple%20Cryptographic%20%26%20Smart%20Card%20tools.%20Check%20it%20out!%20&source=" title="Spread the word, share 'Crypto n Card Utils' on Linkedin..."><span class="count"><i class="fa fa-linkedin-square"></i> Share</span></a></li>
    <li class="facebook"><a href="https://www.facebook.com/dialog/feed?app_id=184683071273&link={{ site.url }}{{ page.url }}%2F&picture={{ site.url }}{{ page.url }}%2Fimages%2Fapple-touch-icon-114x114-precomposed.png&name=Crypto%20n%20Card%20Utils&caption=%20&description=Crypto%20n%20Card%20Utils%20-%20A%20combination%20of%20multiple%20Cryptographic%20%26%20Smart%20Card%20tools.%20Check%20it%20out!%20&redirect_uri=http%3A%2F%2Fwww.facebook.com%2F" title="Spread the word, share 'Crypto n Card Utils' on Facebook..."><span class="count"><i class="fa fa-facebook-square"></i> Post</span></a></li>
    <li class="twitter"><a href="https://twitter.com/intent/tweet?text=Crypto%20n%20Card%20Utils%20-%20A%20combination%20of%20multiple%20Cryptographic%20%26%20Smart%20Card%20tools.%20Check%20it%20out!%20{{ site.url }}{{ page.url }}" title="Spread the word, share 'Crypto n Card Utils' on Twitter..."><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a></li>
    <li class="googleplus"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Spread the word, share 'Crypto n Card Utils' on Google Plus..."><span class="count"><i class="fa fa-google-plus-square"></i> +1</span></a></li>
  </ul>
</div><!-- /.social-share -->