/**
Sourced from https://codepen.io/orangtanah/pen/ZKqjRL
*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
button.back-to-top{
  margin: 0 !important;
  padding: 0 !important;
  background: #222;
  height: 0;
  width: 0;
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: transparent;
  clear: both;
  visibility: hidden;
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;
  right: 50px;
  bottom: 75px;
  font-size: 0;
  outline: 0 !important;
  z-index: 99;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0.6;
  box-shadow: 0 12px 24px rgba(0,0,0,0.4);
  color: #d3cfdc;
}
button.back-to-top:hover{
  background: rgba(255,248,213,0.1);
  color:#ffffff;
  opacity: 1;
}
button.back-to-top:active,
button.back-to-top:focus{
  outline: 0 !important;
}
button.back-to-top::before {
  content: "\f077";
  font-family: "FontAwesome";
  display: block;
  vertical-align: middle;
  margin: -5px 0 auto;
}
button.back-to-top.show {
  display: block;
  background: #222;
  font-size: 25px;
  right: 25px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  visibility: visible;
  -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 12px 24px rgba(0,0,0,0.4);
}
button.back-to-top.show:active {
  -webkit-box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.25);
  opacity: 0.6;
  box-shadow: 0 12px 24px rgba(0,0,0,0.4);
  color: #d3cfdc;
  background: #222;
}